// ORANGE
$c1: #FF954D;  // RGB: 255–149–77 // RGB [%]: 100–58.4–30.2
$c1_transp: rgba(255,149,77, 0.8);
$c1_a: #FFC7A1; //RGB: 255–199–161 // RGB [%]: 100–78–63.1
$c1_b: #FFAC73; //RGB: 255–172–115 // RGB [%]: 100–67.5–45.1 
$c1_c: #FF8029;  //RGB: 255–128–41 // RGB [%]: 100–50.2–16.1
$c1_d: #FA6500;  //RGB: 250–101–0 // RGB [%]: 98–39.6–0

// TEAL
$c2: #3DC9B2;  // RGB: 61–201–178  // RGB [%]: 23.9–78.8–69.8 
$c2_transp: rgba(61,201,178,0.8);
$c2_a: #95EBDD; // RGB: 149–235–221  // RGB [%]: 58.4–92.2–86.7
$c2_b: #62DAC6; // RGB: 98–218–198 // RGB [%]: 38.4–85.5–77.6
$c2_c: #3DC9B2; // RGB: 30–184–158 // RGB [%]: 11.8–72.2–62
$c2_d: #009E84; // RGB: 0–158–132 // RGB [%]: 0–62–51.8

// 
$c3: #F94C60; //255, 190, 77
$c3_transp: rgba(255, 190, 77, 0.8);

//Text
$dark_text: #212121;	